.container {
  margin: auto;
  max-width: $desktop-screen;
  padding: 2rem;
  background-color: $yellow;
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.relative {
  position: relative;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}

.self-end {
  align-self: flex-end;
}
